
* {
  box-sizing: border-box;
}

body {
  background: rgb(219,231,247);
  background: linear-gradient(94deg, rgba(219,231,247,1) 0%, rgba(255,255,255,1) 35%, rgba(219,231,247,1) 100%);
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow: auto;
}